article
{
    h1,p
    {
        font: 20px/1.3em 'Open Sans',sans-serif;
    }
    h1,p
    {
        margin: 0px;
    }
    .font_1
    {
        font: bold 51px/1.1em 'Open Sans',sans-serif;
    }


}